.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.login-form {
  padding-top: 15%;
}

.login-space {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 2%;
  justify-content: center;
}

.login-form-control {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.login-form-control label {
  width: 25%;
}

.login-form-control input {
  width: 75%;
}

.login-btn {
  margin-top: 4%;
  display: flex;
  justify-content: center;
}

.btn {
  width: 25%;
  height: 5%;
}
